.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 14rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: auto;
    padding: 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

label {
    margin-right: 2rem;
}

select {
    width: 5rem
}